
// assets/scss/app.scss

/** 1. 引入 functions，才能操控 color, svg, calc... */
@import "bootstrap/scss/functions";

/** 2. 自訂變數置於 bootstrap variables 前，覆蓋 bootstrap 變數 */
@import "./color";
@import "./variables";

/** 3. 引入 variables, mixins, root */
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import 'bootstrap/scss/maps';
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

/** 4. 引入 utilities */
@import "bootstrap/scss/utilities";

/** 5. 自訂、擴充、調整 utilities */
@import "./utilities";

/** 6. 引入需要的 bootstrap components */
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/images";
//@import "bootstrap/scss/accordion";
@import "bootstrap/scss/transitions";
/** ... */

/** 7. 使用 utilities 需引入 utilities api（將 sass map 轉換為 utility classes） */
@import "bootstrap/scss/utilities/api";

/** 8. 客製樣式置於最後，覆蓋前面的樣式 */
@import "./normalize";
@import "./variables";
@import "./color";
@import "./style";

/** 9. font 樣式 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Noto+Sans+Buhid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+TC:wght@100..900&display=swap');